/.htaccess
/index.php
/app/config/main.php
/app/config/_*
/app/config/db/*
/app/cache/**/*.php
/app/cache/**/*.lock
/app/cache/**/*.tmp
/app/log/*
/public/img/avatars/*
/public/.htaccess
/public/index.php
!.gitkeep
/public/upload/**/*
!/public/upload/index.html
