/_*
/.htaccess
/index.php
/app/config/main.php
/app/config/_*
/app/config/db/*
!/app/config/db/
/app/config/ext/*
!/app/config/ext/
/app/cache/*
/app/cache/mail/*
!/app/cache/mail/
!/app/cache/mail/lock.file
/app/cache/polls/*
!/app/cache/polls/
/app/log/*
!/app/log/
/ext/*
!/ext/
/public/.htaccess
/public/index.php
/public/img/*
/public/img/avatars/*
!/public/img/avatars/
/public/img/og/*
!/public/img/og/
/public/img/sm/*
!/public/img/sm/
!/public/img/sm/big_smile.png
!/public/img/sm/cool.png
!/public/img/sm/hmm.png
!/public/img/sm/lol.png
!/public/img/sm/mad.png
!/public/img/sm/neutral.png
!/public/img/sm/roll.png
!/public/img/sm/sad.png
!/public/img/sm/smile.png
!/public/img/sm/tongue.png
!/public/img/sm/wink.png
!/public/img/sm/yikes.png
!/public/upload/index.html
/public/style/GreenFork
/public/style/other/portal-extension
/public/upload/**/*
!.gitkeep
