/* Palette URL: http://paletton.com/#uid=10I0u0kllll++b4w0gdaFqt00vB */
.color-primary-0 { color: #AA7939 }	/* Main Primary color */
.color-primary-1 { color: #583200 }
.color-primary-2 { color: #814A00 }
.color-primary-3 { color: #D3B58D }
.color-primary-4 { color: #FCFCFC } /* #FEFCF2  #F8F4E3 #FFEBCD */

/*******************/
/* Общие настройки */
/*******************/
@font-face {
  font-family: "FontAwesomeFree";
  font-style: normal;
  font-weight: 400;
  /* font-display: block; */
  src: url("font/fa/fa-regular-400.woff2") format("woff2"), url("font/fa/fa-regular-400.woff") format("woff");
}

@font-face {
  font-family: "FontAwesomeFree";
  font-style: normal;
  font-weight: 900;
  /* font-display: block; */
  src: url("font/fa/fa-solid-900.woff2") format("woff2"), url("font/fa/fa-solid-900.woff") format("woff");
}

html,
body,
#fork,
#fork a,
#fork abbr,
#fork acronym,
#fork address,
#fork applet,
#fork article,
#fork aside,
#fork audio,
/*#fork b,*/
#fork big,
#fork blockquote,
#fork canvas,
#fork caption,
#fork center,
#fork cite,
#fork code,
#fork dd,
#fork del,
#fork details,
#fork dfn,
#fork div,
#fork dl,
#fork dt,
#fork em,
#fork embed,
#fork fieldset,
#fork figcaption,
#fork figure,
#fork footer,
#fork form,
#fork h1,
#fork h2,
#fork h3,
#fork h4,
#fork h5,
#fork h6,
#fork header,
#fork hgroup,
/*#fork i,*/
#fork iframe,
#fork img,
#fork input,
#fork ins,
#fork kbd,
#fork label,
#fork legend,
#fork li,
#fork mark,
#fork menu,
#fork nav,
#fork object,
#fork ol,
#fork output,
#fork p,
#fork pre,
#fork q,
#fork ruby,
/*#fork s,*/
#fork samp,
#fork section,
#fork small,
#fork span,
#fork strike,
/*#fork strong,*/
#fork sub,
#fork summary,
#fork sup,
#fork table,
#fork tbody,
#fork td,
#fork textarea,
#fork tfoot,
#fork th,
#fork thead,
#fork time,
#fork tr,
#fork tt,
/*#fork u,*/
#fork ul,
#fork var,
#fork video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
  box-sizing: border-box;
  word-wrap: break-word;
  /*vertical-align: baseline;*/
}

body,
#fork {
  color: #333333;
  background-color: #FFFFFF;
}

#fork {
  padding: 0 0.3125rem;
  max-width: 64rem;
  margin: 0 auto;
  font-style: normal;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  position: relative;
}

#fork code,
#fork pre {
  font-family: "DejaVu Sans Mono", Consolas, "Droid Sans Mono", Monospace, Monaco, "Courier New", Courier;
}

#fork div,
#fork fieldset {
  min-width: 0;
}

#fork ul,
#fork ol {
  list-style: none;
}

#fork dl {
/*  width: 100%; */
}

#fork textarea {
  resize: vertical;
}

#fork select {
  background-color: #D3B58D;
}

#fork section > h2 {
  display: none;
}

#fork h1,
#fork h2,
#fork h3 {
  font-weight: bold;
}

#fork h2 {
  font-size: 1.25rem;
}

#fork h3 {
  font-size: 1rem;
}

#fork #id-fhth1,
#fork .f-category h2,
#fork .f-category h3 {
  font-family: "Segoe Print", Arial, Helvetica, sans-serif;
}

#fork .f-category h2 {
  font-size: 1.5rem
}

#fork .f-category h3 {
  font-size: 1.25rem;
}

#fork a,
#fork .f-btn {
  color: #583200;
  border-color: #583200;
  cursor: pointer;
  text-decoration: none;
}

#fork .f-btn {
  font-size: 0.875rem;
  line-height: 1.125rem;
  border: 0.0625rem solid;
  border-radius: 0.1875rem;
  padding: 0.125rem 0.5rem;
  background-color: #F8F4E3;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  text-align: center;
}

#fork .f-btn.f-opacity {
  opacity: 0.5;
}

#fork a:hover,
#fork a:focus,
#fork .f-btn:hover,
#fork .f-btn:focus {
  background-color: #D3B58D;
}

#fork a:active,
#fork .f-btn:active {
  background-color: #814A00;
}

#fork .f-btn.f-opacity:hover,
#fork .f-btn.f-opacity:focus {
  opacity: 1;
}

#fork .f-inline > dt,
#fork .f-inline > dd {
  display: inline;
}

#fork .f-inline > dt + dd:before {
  content: " ";
}

#fork .f-inline > dd + dd:before {
  content: ", ";
}

#fork .f-req:after {
  content: " *";
  color: red;
}

/* Меню */

#fork .f-menu-toggle:after {
  display: block;
  font-size: 1.25rem;
  line-height: 1.25;
  border: 0.0625rem solid;
  border-radius: 0.25rem;
  width: 2.75rem;
  text-align: center;
  padding: 0.25rem 0.125rem;
  cursor: pointer;
  font-family: "FontAwesomeFree";
  font-weight: 900;
  content: "\f0c9";
}

#fork .f-menu-checkbox:checked + .f-menu-toggle:after {
  content: "\f00d";
}

#fork .f-menu-checkbox:focus + .f-menu-toggle:after {
  color: #D3B58D;
  background-color: #583200;
  border-color: #D3B58D;
}

#fork .f-menu-items {
  overflow: hidden;
  /*max-height: 0;*/
  /*transition-duration: 0.5s;*/
  display: none;
  flex-direction: column;
}

#fork .f-menu-checkbox:checked ~ .f-menu-items {
  /*max-height: 100rem;*/
  display: flex;
}

#fork .f-menu-a {
  display: block;
  padding: 0.625rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#fork .f-menu-a:before {
  font-family: "FontAwesomeFree";
  font-weight: 900;
}

/*********/
/* Шапка */
/*********/

#fork #fork-header {
  background-color: #AA7939;
  border-bottom: 0.0625rem solid #AA7939;
  position: relative;
}

#fork-header #id-fhth1 {
  width: calc(100% - 4rem);
  padding: 0.625rem 0 0.625rem 0.625rem;
  font-size: 2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#fork-header #id-fhtdesc {
  border-top: 0.0625rem dotted #D3B58D;
  padding: 0.625rem;
  color: #F8F4E3;
}

#fork-header #id-fhtha {
  color: #D3B58D;
}

#fork-header #id-fhtha:hover,
#fork-header #id-fhtha:focus {
  background-color: #AA7939;
}

#fork-header #fork-nav {
  width: 100%;
  background-color: #F8F4E3;
  display: flex;
  flex-direction: column;
}

#fork-nav #id-mn-checkbox {
  position: absolute;
  opacity: 0;
}

#fork-nav #id-mn-label {
  color: #D3B58D;
  border-color: #D3B58D;
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
}

#fork-nav .f-menu-items {
  background-color: #F8F4E3;
  border-bottom: 0.0625rem solid #AA7939;
}

#fork-nav .f-menu-a {
  color: #583200;
  text-transform: uppercase;
  text-align: center;
}

#fork-nav .f-submenu-items {
  background-color: #FFEBCD; /* #D3B58D; */
}

#fork-nav .f-submenu-items .f-menu-a {
  text-transform: none;
  padding: 0.3125rem 0.625rem;
}

#fork-nav .f-menu-a.active {
  background-color: #814A00;
  color: #F8F4E3;
}

#fork-nav .f-menu-a:hover,
#fork-nav .f-menu-a:focus {
  background-color: #583200;
  color: #F8F4E3;
}

#fork-nav .f-menu-user-items {
  background-color: #F8F4E3;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

#fork-nav .f-menu-user-items .f-menu-item {
  min-width: 2.5rem;
}

#fork-nav .f-menu-user-items .f-menu-a {
  text-transform: none;
/*  white-space: normal;
  font-size: 0.1px; */
}

/* #fork-nav .f-menu-user-items span {
  white-space: nowrap;
} */

#fork #id-nav-profile .f-menu-a:before {
  content: "\f007\20";
}

#fork #id-nav-pmsnew .f-menu-a:before {
  font-weight: 400;
  content: "\f0e0\20";
}

#fork #id-nav-admin .f-menu-a:before {
  content: "\f7d9\20";
}

#fork #id-nav-logout .f-menu-a:before {
  content: "\f2f5\20";
}

#fork #id-nav-register .f-menu-a:before {
  content: "\f234\20";
}

#fork #id-nav-login .f-menu-a:before {
  content: "\f2f6\20";
}

/* #fork-nav .f-menu-user-items .f-menu-a::first-line {
  font-size: 1rem;
} */

#fork-nav #id-nav-profile span {
  font-weight: bold;
}

#fork #id-nav-index .f-menu-a:before {
  content: "\f015\20";
}

#fork #id-nav-userlist .f-menu-a:before {
  content: "\f0c0\20";
}

#fork #id-nav-rules .f-menu-a:before {
  content: "\f05a\20";
}

#fork #id-nav-search > .f-menu-a:before {
  content: "\f002\20";
}

@media screen and (min-width: 50rem) {
  #fork-header #id-fhth1 {
    overflow: auto;
    white-space: normal;
  }

  #fork-nav #id-mn-checkbox,
  #fork-nav #id-mn-label {
    display: none;
  }

  #fork-header #fork-nav {
    flex-direction: row;
  }

  #fork-nav .f-menu-items {
    display: flex;
    flex-wrap: wrap;
    /*max-height: 100rem;*/
    flex-direction: row;
    margin-right: auto;
    border-bottom: 0;
  }

  #fork-nav .f-menu-item {
    min-width: 4rem;
  }

  #fork-nav .f-menu-a {
    text-transform: none;
  }

  #fork-nav.f-main-nav-search {
    margin-bottom: 2rem;
  }

  #fork-nav #id-nav-search .f-submenu-items {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    display: flex;
    font-size: 0.875rem;
  }

  #fork #id-nav-profile.f-menu-item {
    min-width: 4rem;
  }

  #fork #id-nav-profile .f-menu-a:before {
    content: "";
  }

} /* @media screen and (min-width: 50rem) */

/*********/
/* iswev */
/********/
#fork .f-iswev {
  border: 0.0625rem solid;
  margin: 1rem 0;
  padding: 0.625rem;
}

#fork .f-info,
#fork .f-info .f-wcontent > a  {
  color: #00529B;
  background-color: #BDE5F8;
}

#fork .f-success,
#fork .f-success .f-wcontent > a {
  color: #4F8A10;
  background-color: #DFF2BF;
}

#fork .f-warning,
#fork .f-warning .f-wcontent > a {
  color: #9F6000;
  background-color: #FEEFB3;
}

#fork .f-error,
#fork .f-error .f-wcontent > a {
  color: #D8000C;
  background-color: #FFBABA;
}

#fork .f-validation,
#fork .f-validation .f-wcontent > a {
  color: #D63301;
  background-color: #FFCCBA;
}

/*********/
/* Формы */
/*********/
#fork .f-fdiv {
  max-width: 100%;
  border: 0.0625rem solid #AA7939;
  padding: 0.3125rem;
}

#fork .f-fdiv h2 {
  padding: 0.3125rem;
}

#fork .f-fdiv h3 {
  padding: 0.3125rem;
}

#fork .f-fdiv dl {
  padding: 0.3125rem;
}

#fork .f-fdiv .f-btns {
  padding: 0.3125rem;
}

#fork .f-fdiv .f-btns .f-btn {
  margin: 0.3125rem 0;
  min-width: 7rem;
}

#fork .f-fdiv legend {
  width: 100%;
  padding: 0.3125rem;
  border-bottom: 0.0625rem dotted #AA7939;
  font-weight: bold;
}

#fork .f-fdiv .f-ctrl,
#fork .f-fdiv .f-btn {
  line-height: 1.25rem;
  padding: 0.5rem;
  font-size: 1rem;
  display: block;
  width: 100%;
}

#fork .f-fdiv .f-btn[name=delete] {
  color: red;
}

#fork .f-fdiv .f-label {
  font-size: 1rem;
  display: inline-block;
}

#fork .f-field-block .f-label {
  display: block;
}

#fork .f-fdiv .f-label > input {
  margin-left: 0;
  margin-right: 0.3125rem;
}

#fork .f-fdiv .f-label + .f-label {
  margin-left: 0.625rem;
}

#fork .f-field-block .f-label + .f-label {
  margin-left: 0;
}

#fork .f-fdiv .f-child1,
#fork .f-fdiv .f-child2,
#fork .f-fdiv .f-child3,
#fork .f-fdiv .f-child4,
#fork .f-fdiv .f-child5,
#fork .f-fdiv .f-child6 {
  display: block;
  width: 100%;
  word-wrap: break-word;
}

#fork .f-fdiv .f-child1 {
  font-weight: bold;
}

#fork .f-fdiv .f-child2,
#fork .f-fdiv .f-child5 {
  font-size: 0.875rem;
}

#fork .f-fdiv .f-child2 > input {
  margin-right: 0.625rem;
}

#fork .f-fdiv .f-child3 {
  padding: 0.625rem;
  text-align: center;
  font-size: 0.875rem;
}

#fork .f-fdiv .f-child4 {
  font-size: 0.8125rem;
  margin-top: 0.3125rem;
  text-align: justify;
}

#fork .f-fdiv .f-child5 {
  padding-top: 0.3125rem;
}

#fork .f-fdiv .f-child6 {
  padding: 0.3125rem;
  text-align: justify;
  font-size: 0.8125rem;
}

#fork .f-fdiv .f-child6 + .f-child6 {
  margin-top: -0.3125rem;
}

#fork .f-fdiv .f-finfo {
  background-color: #AA7939;
  padding: 0.625rem;
  color: #F8F4E3;
  text-align: justify;
  margin: 0 -0.3125rem 0.3125rem -0.3125rem;
  overflow: hidden;
}

#fork .f-fdiv .f-finfo:first-child {
  margin-top: -0.3125rem;
}

#fork .f-fdiv .f-finfo + .f-finfo {
  margin-top: -0.625rem;
}

#fork .f-fdiv fieldset + .f-finfo {
/*  margin-top: 0.625rem; */
}

#fork .f-fdiv .f-finfo + fieldset {
/*  padding-top: 0; */
}

#fork .f-ctrl {
  border: 0.0625rem solid #AA7939;
}

#fork .f-ctrl:focus {
  box-shadow: inset 0 0 0.5rem 0 rgba(170,121,57,0.75), 0 0 0.5rem 0 rgba(170,121,57,0.75);
}

#fork .f-field-hint .f-child4 {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.5s, margin 0.5s;
  -webkit-transition-delay: 0.2s;
  transition: max-height 0.5s, margin 0.5s;
  transition-delay: 0.2s;

}

#fork .f-field-hint .f-ctrl:focus + .f-child4,
#fork .f-field-hint .f-ctrl:active + .f-child4 {
  max-height: 10rem;
}

/**************/
/* Объявление */
/**************/

#fork #fork-announce {
  border-bottom: 0.0625rem solid #AA7939;
  padding: 0.625rem;
  position: relative;
}

/**********/
/* Подвал */
/**********/

#fork #fork-footer {
  border-bottom: 0.0625rem solid #AA7939;
  border-top: 0.0625rem solid #AA7939;
  background-color: #F8F4E3;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

#fork-footer > h2 {
  display: none;
}

#fork-footer > div {
  padding: 0.625rem;
}

/*************************/
/* Отладочная информация */
/*************************/
#fork #fork-debug {
  font-size: 0.75rem;
  text-align: center;
}

#fork-debug #id-fdebugtime {
  padding: 0.3125rem 0.625rem;
}

#fork-debug > table {
  text-align: left;
  width: 100%;
  border: 0.0625rem solid #AA7939;
  border-collapse: collapse;
/*  word-break: break-all; */
  table-layout: fixed;
}

#fork-debug thead {
  background-color: #F8F4E3;
}

#fork-debug td,
#fork-debug th {
  padding: 0.3125rem 0.625rem;
  border-bottom: 0.0625rem solid #AA7939;
}

#fork-debug .tcl {
  width: 5rem;
}

/******************/
/* Хлебные крошки */
/******************/

#fork .f-nav-links {
  margin: 1rem 0;
}

#fork .f-crumbs {
  padding: 0 0.625rem;
  display: block;
  overflow: hidden;
}

#fork .f-crumb {
  display: inline;
  max-width: 100%;
}

#fork .f-crumb:last-child {
  font-weight: bold;
}

#fork .f-crumb + .f-crumb:before {
  display: inline;
  color: #583200;
  content: "/ ";
}

#fork .f-subscribed > a:after {
  font-family: "FontAwesomeFree";
  font-weight: 400;
  content: "\f0f3"; /* f06e */
  font-size: 0.875rem;
  padding-left: 0.3125rem;
}

#fork .f-crumb a:not(.active) {
  border-bottom: 0.0625rem solid;
}

#fork .f-nav-links .f-actions-links,
#fork .f-nav-links .f-pages {
  padding: 0 0.625rem;
}

#fork .f-nlinks,
#fork .f-nlinks-a,
#fork .f-nlinks-b {
  display: flex;
  flex-wrap: wrap;
}

#fork .f-nlinks-b {
  margin-top: 0.625rem;
  border-top: 0.0625rem dotted #AA7939;
}

#fork .f-nlinks-b .f-actions-links,
#fork .f-nlinks-b .f-pages {
  padding-top: 0.625rem;
}

#fork .f-nlinks-a {
  margin-bottom: 0.625rem;
  border-bottom: 0.0625rem dotted #AA7939;
  flex-wrap: wrap-reverse;
}

#fork .f-nlinks-a .f-actions-links,
#fork .f-nlinks-a .f-pages {
  padding-bottom: 0.625rem;
}

#fork .f-nav-links .f-actions-links {
  margin-left: auto;
  order: 1;
  text-align: right;
}

#fork .f-nav-links .f-page {
  border: 0.0625rem solid #AA7939;
  padding: 0.125rem 0.375rem;
  font-size: 0.875rem;
  line-height: 1.125rem;
}

#fork .f-nav-links .f-pspacer {
  border: 0;
  padding: 0;
}

#fork .f-nav-links .f-page.active {
  border-color: #814A00;
  background-color: #814A00;
  color: #F8F4E3;
}

#fork .f-pinfo {
  display: none;
}

@media screen and (min-width: 50rem) {
  #fork .f-pinfo {
    font-size: 0.875rem;
    line-height: 1.125rem;
    display: inline;
  }
}
/********/
/* Тело */
/********/

#fork .f-main {
  margin: 1rem 0;
  position: relative;
}

/****************/
/* Обслуживание */
/****************/

#fork .f-maintenance > h2 {
  display: block;
  padding: 0.625rem;
}

#fork .f-maintenance > p {
  padding: 0.625rem;
}

/*************/
/* Сообщение */
/*************/

#fork .f-backlink > p {
  padding: 0.625rem;
}

/***********/
/* Правила */
/***********/

#fork #id-rules {
  padding: 0.625rem;
  border: 0.0625rem solid #AA7939;
  background-color: #F8F4E3;
}

/************/
/* Редирект */
/************/
#fork .f-redirect {
  border: 0.0625rem solid #AA7939;
}

#fork .f-redirect > h2 {
  display: block;
  padding: 0.625rem;
  background-color: #F8F4E3;
  border-bottom: 0.0625rem solid #AA7939;
}

#fork .f-redirect > p {
  padding: 0.625rem;
}

/******************/
/* Админка - меню */
/******************/
#fork .f-admin-menu .f-menu-a {
  text-align: center;
  text-transform: uppercase;
}

#fork .f-admin-menu .f-menu-a.active {
  background-color: #814A00;
  color: #F8F4E3;
}

#fork .f-admin-menu .f-menu-a:hover,
#fork .f-admin-menu .f-menu-a:focus {
  background-color: #583200;
  color: #F8F4E3;
}

#fork #id-an-checkbox {
  position: absolute;
  opacity: 0;
}

#fork #id-an-label {
  position: absolute;
  top: -2.875rem;
  right: 0.625rem;
}

#fork .f-nav-admin-links,
#fork .f-nav-admin-one-column-links {
  margin-right: 3.75rem;
}

#fork .f-admin-menu .f-menu-item:first-child .f-menu-a {
  border-top: 0.0625rem dotted;
}

@media screen and (min-width: 50rem) {
  #fork .f-nav-admin-links {
    margin-right: 0;
  }

  #fork .f-main-admin {
    display: flex;
    flex-wrap: wrap;
  }

  #fork .f-main-admin .f-admin-menu {
    width: 13rem;
    margin-right: 1rem;
  }

  #fork .f-main-admin .f-admin-wrap {
    width: calc(100% - 14rem);
  }

  #fork .f-main-admin #id-an-checkbox,
  #fork .f-main-admin #id-an-label {
    display: none;
  }

  #fork .f-main-admin .f-admin-menu .f-menu-items {
    /*max-height: 100rem;*/
    display: flex;
  }

  #fork .f-main-admin .f-admin-menu .f-menu-a {
    text-align: left;
    text-transform: none;
    border-bottom: 0.0625rem dotted;
  }
}

/***********/
/* Админка */
/***********/
#fork .f-admin:not(:last-child) {
  margin-bottom: 1rem;
}

#fork .f-admin > div {
  background-color: #F8F4E3;
  border: 0.0625rem solid #AA7939;
}

#fork .f-welcome p,
#fork .f-grlist p {
  padding: 0.625rem;
  text-align: justify;
}

#fork .f-welcome ul {
  padding: 0 0.625rem 0.625rem 0.625rem;
  list-style-type: circle;
  list-style-position: inside;
}

#fork .f-grlist ol {
  padding: 0 0.625rem 0.625rem 0.625rem;
}

#fork .f-admin dl {
  border-bottom: 0.0625rem dotted #AA7939;
  margin-bottom: 0.3125rem;
}

#fork .f-admin legend {
  margin-bottom: 0.3125rem;
}

#fork .f-admin .f-fdiv .f-child2 {
  font-size: 1rem;
}

#fork .f-grlist li {
  padding: 0.625rem 0;
  border-bottom: 0.0625rem dotted #AA7939;
}

#fork .f-grlist li:first-child {
  border-top: 0.0625rem dotted #AA7939;
}

#fork .f-grldelete {
  font-size: 0.875rem;
  white-space: nowrap;

}

#fork .f-phpinfo {
  word-break: break-all;
}

#fork #id-phpinfo-div {
  overflow-x: auto;
}

#fork .f-admin .f-wrap-between {
  display: flex;
  align-items: flex-end;
}

#fork .f-admin .f-field-bstart,
#fork .f-admin .f-field-bend {
  width: 50%;
}

#fork .f-admin .f-field-bstart .f-child1 {
  white-space: nowrap;
}

@media screen and (min-width: 36rem) {
  #fork .f-admin dl {
    display: flex;
  }

  #fork .f-admin dt {
    width: 14rem;
    margin-right: 0.625rem;
  }

  #fork .f-admin dd {
    width: calc(100% - 14.625rem);
  }

  #fork .f-admin .f-fdiv .f-child1 {
    font-weight: normal;
  }

  #fork .f-field-full dt {
    display: none;
  }

  #fork .f-field-full dd {
    padding-left: 0;
  }

  #fork .f-admin .f-field-bstart {
    width: calc((100% - 14.625rem) / 2 + 14.625rem);
  }

  #fork .f-admin .f-field-bend {
    width: calc((100% - 14.625rem) / 2);
  }

  #fork .f-admin .f-field-bend > dt {
    display: none;
  }

  #fork .f-admin .f-field-bend > dd {
    width: 100%;
  }
}

/*********************/
/* Статистика форума */
/*********************/
#fork .f-stats {
  border-top: 0.0625rem solid #AA7939;
  font-size: 0.875rem;
  padding: 0.3125rem 0;
}

#fork .f-stats dt {
  display: none;
}

#fork .f-stboard,
#fork .f-stusers {
  padding: 0.3125rem;
}

#fork .f-stboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: 0.0625rem dotted #AA7939;
}

#fork .f-stboard > dd,
#fork .f-stusers > dd {
  padding: 0 0.3125rem;
}

#fork .f-onlinelist {
  border-top: 0.0625rem dotted #AA7939;
  padding: 0.3125rem 0.625rem;
  width: 100%
}

#fork .f-onlinelist > dt {
  display: inline;
  font-weight: bold;
}

@media screen and (min-width: 45rem) {
  #fork .f-stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
  }

  #fork .f-stboard {
    display: block;
    border: 0;
    text-align: right;
  }

  #fork .f-stusers {
    order: -1;
  }
}

/*********************/
/* Логин/Регистрация */
/*********************/
#fork .f-lrdiv {
  margin: 1rem auto;
  max-width: 20rem;
  border-radius: 0.1875rem;
}

#fork .f-lrdiv h2 {
  text-align: center;
}

#fork #id-dl-passinlogin {
  position: relative;
}

#fork #id-dl-passinlogin .f-child4 {
  position: absolute;
  top: 0.5rem;
  right: 0.3125rem;
  width: auto;
  margin: 0;
}

/***************************************/
/* Таблица разделов, подразделов и тем */
/***************************************/
#fork .f-ftlist .f-category {
  margin-top: 0.625rem;
}

#fork .f-ftch2 {
  padding: 0.625rem 0.625rem 0.3125rem 0.625rem;
}

#fork .f-ftlist .f-row {
  border-bottom: 0.0625rem solid #AA7939;
}

#fork .f-ftlist .f-thead {
  border-bottom: 0.125rem solid #AA7939;
}

#fork .f-ftlist .f-cell {
  padding: 0.625rem;
  overflow: hidden;
}

#fork .f-ftlist .f-cmain {
  display: flex;
  flex-wrap: nowrap;
}

#fork .f-ftlist .f-ficon {
  width: 2rem;
}

#fork .f-ftlist .f-finfo {
  width: calc(100% - 2rem);
}

#fork .f-ftlist .f-cstats {
  padding-top: 0;
  text-align: right;
  font-size: 0.75rem;
}

#fork .f-ftlist .f-clast {
  display: none;
}

#fork .f-ftlist .f-fdesc {
  font-size: 0.875rem;
}

#fork .f-fsub {
  margin-left: 0.875rem;
  font-size: 0.875rem;
}

#fork .f-fsub:before {
  font-size: 0.875rem;
  content: "└";
  margin-left: -0.875rem;
}

#fork .f-subforums .f-fsub:before {
  margin-left: 0.875rem;
}

#fork .f-subforums .f-ftname:before {
  content: "└ ";
}

#fork .f-fsub > dt {
  display: none;
}

#fork .f-modlist {
  font-size: 0.875rem;
}

#fork .f-modlist > dt:before {
  content: "(";
}

#fork .f-modlist:last-child:after {
  content: ")";
}

#fork .f-ficon:before {
  font-family: "FontAwesomeFree";
  font-weight: 400;
  content: "\f15b"; /* "\f086"; */
  font-size: 1.5rem;
  color: #814A00;
}

#fork .f-fnew .f-ficon:before {
  font-weight: 900;
  content: "\f15b"; /* "\f086"; */
}

#fork .f-fredir .f-ficon:before {
  font-weight: 400;
  content: "\f1d8"; /* "\f0c6"; */
}

#fork .f-forum .f-ficon:before {
  font-size: 1.2rem;
}

#fork .f-tnew,
#fork .f-tunread {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  white-space: nowrap;
}

#fork .f-tnew:before,
#fork .f-tunread:before {
  content: "[ ";
}

#fork .f-tnew:after,
#fork .f-tunread:after {
  content: " ]";
}

#fork .f-newtxt,
#fork .f-unreadtxt {
  display: none;
}

#fork .f-fnew > a:before,
#fork .f-tnew > a:before {
  font-family: "FontAwesomeFree";
  font-weight: 900;
  font-size: 0.875rem;
  content: "\f086";
  padding: 0 0.25rem;
}

#fork .f-tunread > a:before {
  font-family: "FontAwesomeFree";
  font-weight: 900;
  font-size: 0.875rem;
  content: "\f06e"; /* f070 */
  padding: 0 0.25rem;
}

@media screen and (min-width: 50rem) {
  #fork .f-ftlist .f-row {
    display: flex;
    flex-wrap: nowrap;
  }

  #fork .f-ftlist .f-cmain {
    margin-right: auto;

  }

  #fork .f-ftlist .f-cstats {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 8rem;
    padding-top: 0.625rem;
    padding-left: 0;
    white-space: nowrap;
  }

  #fork .f-ftlist .f-clast {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 15rem;
    min-width: 15rem;
    padding-left: 0;
    font-size: 0.875rem;
    text-align: right;
  }

  #fork .f-ftlist .f-cltopic,
  #fork .f-ftlist .f-clposter,
  #fork .f-ftlist .f-cltime {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  #fork .f-ftlist .f-cltime {
    font-size: 0.75rem;
  }
}

#fork .f-ftlist .f-hcell,
#fork .f-ftlist small {
  display: none;
}

/********************/
/* Страница раздела */
/********************/
#fork .f-subforums {
  margin: 1rem 0;
}

#fork .f-subforums .f-ftch2 {
  display: none;
}

#fork .f-forum h3 {
  display: block;
  font-weight: normal;
  position: relative;
}

#fork .f-cmposter,
#fork .f-cmforum {
  font-size: 0.875rem;
}

#fork .f-cmforum:before {
  content: ", ";
}

#fork .f-tdot {
  font-weight: bold;
  position: absolute;
  margin-left: -0.5rem;
}

#fork .f-tpages .f-page {
  border: 0.0625rem solid #AA7939;
  padding: 0.0625rem 0.3125rem;
  font-size: 0.875rem;
  line-height: 1.125rem;
}

#fork .f-tpages .f-pspacer {
    border: 0;
    padding: 0;
}

#fork .f-tpages .f-page,
#fork .f-cmforum > a {
  opacity: 0.4;
}

#fork .f-tpages:hover .f-page,
#fork .f-tpages .f-page:focus,
#fork .f-cmforum > a:focus,
#fork .f-cmforum > a:hover {
  opacity: 1;
}

#fork .f-tmoved,
#fork .f-stickytxt,
#fork .f-closedtxt,
#fork .f-polltxt {
  display: none;
}

#fork .f-fsticky .f-ficon:before {
  color: #D8000C;
}

#fork .f-tsticky:before {
  font-family: "FontAwesomeFree";
  font-weight: 900;
  font-size: 0.875rem;
  content: "\f30c";
  color: #D8000C;
}

#fork .f-fclosed .f-ficon:before {
  color: #C8CCD1;
}

#fork .f-tclosed:before {
  font-family: "FontAwesomeFree";
  font-weight: 900;
  font-size: 0.875rem;
  content: "\f023";
  color: #C8CCD1;
}


#fork .f-tpoll:before {
  font-family: "FontAwesomeFree";
  font-weight: 900;
  font-size: 0.875rem;
  content: "\f681";
}

/*****************/
/* Страница темы */
/*****************/

#fork .f-btn-topic-closed {
  pointer-events: none;
  cursor: default;
  background-color: #FFBABA;
}

/********************/
/* Сообщение в теме */
/********************/

#fork .f-post {
  border-top: 0.0625rem solid #AA7939;
  border-bottom: 0.0625rem solid #AA7939;
  margin-bottom: 0.625rem;
  position: relative;
  background-color: #FFFFFF;
  overflow: hidden;
}

#fork .f-post-header {
  display: flex;
  flex-wrap: wrap;
  padding: 0.625rem;
  border-bottom: 0.0625rem solid #AA7939;
  background-color: #D3B58D;
  font-size: 0.875rem;
}

#fork .f-post-header > h3 {
  display: none;
}

#fork .f-post-edited {
  font-style: italic;
  margin-left: 0.625rem;
  opacity: 0.5;
}

#fork .f-post-number {
  margin-left: auto;
}

#fork .f-post-user {
  display: flex;
  flex-wrap: wrap;
  padding: 0.625rem;
  background-color: #F8F4E3;
  border-bottom: 0.0625rem solid #AA7939;
  font-size: 0.875rem;
}

#fork .f-user-info-first {
  display: none;
}

#fork .f-avatar {
  order: 1;
  flex-grow: 0.5;
  text-align: right;
  margin-bottom: 0.3125rem;
}

#fork .f-avatar img {
  max-width: 4.6875rem;
  height: auto;
}

#fork .f-user-info {
  flex-grow: 0.5;
  margin-bottom: 0.3125rem;
}

#fork .f-user-info-add {
  width: 100%;
  order: 2;
}

#fork .f-user-info > li:not(.f-username),
#fork .f-user-info-add > li {
  display: inline-block;
}

#fork .f-user-info > li:not(.f-username):before,
#fork .f-user-info-add > li:before {
  content: "\2022";
  padding-right: 0.3125rem;
}

#fork .f-avatar + .f-user-info > li:not(.f-username) {
  display: block;
}

#fork .f-avatar + .f-user-info > li:not(.f-username):before {
  display: none;
}

#fork .f-post-body img {
  max-width: 100%;
  height: auto;
}

#fork .f-username {
  font-size: 1.25rem;
  word-break: break-all;
}

#fork .f-user-online .f-username::before {
  font-family: "FontAwesomeFree";
  font-weight: 900;
  content: "\f00c\20";
  color: #4F8A10;
  font-size: 1rem;
}

#fork .f-user-online .f-userstatus {
  font-weight: bold;
}

#fork .f-post-main,
#fork .f-post-btns,
#fork .f-post-signature {
  padding: 0.625rem 0.625rem 0 0.625rem;
}

#fork .f-post-btns {
  text-align: right;
  padding-top: 0;
  padding-bottom: 0.625rem;
}

#fork .f-post-btns .f-btn {
  opacity: 0.4;
}

#fork .f-post-btns:hover .f-btn,
#fork .f-post-btns .f-btn:focus {
  opacity: 1;
}

#fork .f-post-footer-add {
  display: none;
}

#fork .f-post-footer li {
  display: inline;
}

#fork .f-post-signature {
  font-size: 0.875rem;
  opacity: 0.5;
  padding-top: 0;
}

#fork .f-admin-note {
  color: #D8000C;
/**  background-color: #FFBABA; */
}


/*********************/
#fork .f-bb-u {
  text-decoration: underline;
}

#fork .f-bb-header {
  font-weight: bold;
  font-size: 1.25rem;
}

#fork .f-bb-after {
  opacity: 0.5;
  font-style: italic;
  font-size: 0.875rem;
}

#fork .f-bb-quote {
  border-left: 0.1875rem solid #AA7939;
  border-top: 0.0625rem solid #AA7939;
}

#fork .f-bb-q-header {
  padding: 0.625rem;
  background-color: #F8F4E3 /*#D3B58D*/;
}

#fork .f-bb-q-body {
  padding: 0.625rem;
}

#fork .f-bb-code {
  border: 0.0625rem solid #AA7939;
  padding: 0.625rem;
  background-color: #F8F4E3 /*#D3B58D*/;
  overflow: auto;
  max-height: 45rem;
}

#fork .f-bb-l-disc {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 1.5rem;
}

#fork .f-bb-l-dec {
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 1.5rem;
}

#fork .f-bb-l-lat {
  list-style-type: lower-alpha;
  list-style-position: outside;
  padding-left: 1.5rem;
}

#fork .f-post-body p,
#fork .f-post-body blockquote,
#fork .f-post-body br,
#fork .f-post-body pre,
#fork .f-post-body ol,
#fork .f-post-body ul {
  margin-bottom: 0.625rem;
/*  word-wrap: break-word; */
}

@media screen and (min-width: 50rem) {
  #fork .f-post {
    display: flex;
    flex-wrap: wrap;
  }

  #fork .f-post-header {
    width: 100%;
  }

  #fork .f-post-user {
    flex-direction: column;
    width: 13rem;
    border-right: 0.0625rem solid #AA7939;
    border-bottom: 0;
  }

  #fork .f-user-info-first {
    display: block;
    margin-bottom: 0.625rem;
  }

  #fork .f-user-info .f-username {
    display: none;
  }

  #fork .f-avatar {
    flex-grow: 0;
    order: 0;
    text-align: center;
  }

  #fork .f-user-info {
    flex-grow: 0;
  }

  #fork .f-user-info > li:not(.f-username),
  #fork .f-user-info-add > li {
    display: block;
  }

  #fork .f-user-info > li:not(.f-username):before,
  #fork .f-user-info-add > li:before {
    display: none;
  }


  #fork .f-post-body,
  #fork .f-post-btns {
    width: calc(100% - 13rem);
    position: relative;
  }

  #fork .f-post-footer {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
  }

  #fork .f-post-footer-add {
    display: block;
    width: 13rem;
    padding: 0 0.625rem 0.625rem 0.625rem;
    background-color: #F8F4E3;
    border-right: 0.0625rem solid #AA7939;
  }

  #fork .f-userstatus {
    font-size: 0.875rem;
  }

  #fork .f-avatar img {
    max-width: 100%;
  }
} /* @media screen and (min-width: 50rem) */

/****************/
/* Предпросмотр */
/****************/
#fork .f-preview {
  border-top: 0.0625rem solid #AA7939;
}

#fork .f-preview > h2 {
  display: block;
/**  font-family: Arial, Helvetica, sans-serif; */
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem 0.625rem 0.3125rem 0.625rem
}

#fork .f-preview .f-post-body {
  border-top: 0.125rem solid #AA7939;
  border-left: 0.125rem solid #AA7939;
  width: 100%;
}

/*****************************/
#fork .f-post-form {
  border-top: 0.0625rem solid #AA7939;
  margin-bottom: 1rem;
}

#fork .f-view-posts {
  margin-bottom: 1rem;
  margin-top: -1rem;
}

#fork .f-post-form > h2,
#fork .f-view-posts > h2 {
/**  font-family: Arial, Helvetica, sans-serif; */
  display: block;
  font-size: 1rem;
  padding-right: 0.625rem;
  padding: 1rem 0.625rem 0.3125rem 0.625rem
}

#fork .f-post-form > .f-fdiv {
  background-color: #F8F4E3;
}

#fork .f-post-form .f-child1 {
  font-size: 0.875rem;
}

#fork .f-post-form .f-child5 > li {
  display: inline;
}

#fork .f-post-form .f-child5 a {
/*  border: 0; */
}

#fork .f-post-form .f-btn {
  width: auto;
  display: inline-block;
}

#fork textarea#id-message,
#fork textarea#id-reason {
  height: 15rem;
}

@media screen and (min-width: 50rem) {
  #fork #id-fs-uesm {
    display: flex;
    flex-wrap: wrap;
  }

  #fork .f-field-w0 {
    width: 100%;
  }

  #fork .f-field-w1 {
    width: 30%;
  }

  #fork .f-field-w2 {
    width: 70%;
  }
}

/**********/
/* Репорт */
/**********/
#fork .f-reports > h2 {
/*  display: block; */
}

#id-fs-report > legend {
  display: none;
}

/*********/
/* Email */
/*********/

#id-fs-send-email > legend {
  display: none;
}

/*****************/
/* Модерирование */
/*****************/
#fork .f-moderate {
  border-top: 0.0625rem solid #AA7939;
  position: relative;
}

#fork .f-moderate .f-fdivm {
  padding: 0.3125rem;
}

#fork .f-moderate .f-btns {
  padding: 0.3125rem;
}

#fork .f-moderate .f-btn {
  opacity: 0.4;
  margin: 0.3125rem 0;
}

#fork .f-moderate .f-btns:hover .f-btn,
#fork .f-moderate .f-btn:focus {
  opacity: 1;
}

#fork .f-moderate-form .f-btn {
  width: auto;
  display: inline-block;
}

#fork .f-ftlist .f-fch,
#fork .f-post-checkbox {
  display: none;
}

#fork .f-ftlist label.f-ficon {
  position: relative;
  cursor: pointer;
}

#fork .f-post-checkbox + .f-post-header {
  position: relative;
}

#fork label.f-post-posted {
  cursor: pointer;
}

#fork .f-ftlist .f-fch:checked + .f-ficon:after,
#fork .f-post-checkbox:checked + .f-post-header:before {
  font-family: "FontAwesomeFree";
  font-weight: 900;
  content: "\f00c";
  color: red;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1rem;
  font-weight: bold;
}

/*********************/
/* Админка/Категории */
/*********************/
#fork .f-deletecategory-form .f-btn {
  width: auto;
  display: inline-block;
}

#fork .f-fs-category {
  display: flex;
  align-items: stretch;
  /*min-width: 0;*/
}

#fork .f-fs-category > legend {
  display: none;
}

#fork .f-fs-category .f-child1 {
  font-weight: normal;
}

#fork .f-field-category {
  flex-direction: column;
  justify-content: space-between;
}

#fork .f-field-category > dt {
  display: none;
}

#fork .f-field-category > dd {
  width: 100%;
}

#fork .f-fs-category:first-of-type .f-field-category > dt {
  display: block;
  width: 100%;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
}

#fork .f-field-category.f-field-name {
  width: calc(100% - 8rem);
}

#fork .f-field-category.f-field-position {
  width: 5rem;
}

#fork .f-field-category.f-field-delete {
  width: 3rem;
  overflow: hidden;
  text-align: center;
}

/*********************/
/* Админка/Разделы   */
/*********************/
#fork .f-deleteforum-form .f-btn {
  width: auto;
  display: inline-block;
}

#fork .f-fs-forum {
  display: flex;
  align-items: stretch;
  /*min-width: 0;*/
}

#fork .f-fs-forum > legend {
  display: none;
}

#fork .f-fs-forum .f-child1 {
  font-weight: normal;
}

#fork .f-field-forum {
  flex-direction: column;
  justify-content: space-between;
}

#fork .f-field-forum > dt {
  display: none;
}

#fork .f-field-forum > dd {
  width: 100%;
}

#fork .f-finfo + .f-fs-forum .f-field-forum > dt {
  display: block;
  width: 100%;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
}

#fork .f-field-forum.f-field-name {
  width: calc(100% - 8rem);
}

#fork .f-field-forum.f-field-position {
  width: 5rem;
}

#fork .f-field-forum.f-field-delete {
  width: 3rem;
  overflow: hidden;
  text-align: center;
}

#fork .f-field-forum.f-field-name .f-btn {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#fork .f-field-depth1 > dd {
  padding-left: 0.625rem;
}

#fork .f-field-depth2 > dd {
  padding-left: 1.25rem;
}

#fork .f-field-depth3 > dd {
  padding-left: 1.875rem;
}

#fork .f-field-depth4 > dd {
  padding-left: 2.5rem;
}

#fork .f-field-depth5 > dd {
  padding-left: 3.125rem;
}

#fork .f-fs-permission {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  /*min-width: 0;*/
}

#fork .f-fs-permission > legend {
  margin: 0;
}

#fork .f-fs-permission .f-child1 {
  font-weight: normal;
}

#fork .f-fs-permission .f-field-cando {
  width: 33.333%;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#fork .f-fs-permission .f-field-cando > dt,
#fork .f-fs-permission .f-field-cando > dd {
  width: 100%;
  margin: 0;
}

#fork .f-field-on input:not(:checked) + span {
  opacity: 0.2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: red;
}

#fork .f-field-off input:checked + span {
  opacity: 0.2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: red;
}

#fork .f-field-cando input:disabled + span {
  opacity: 0.2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: gray;
}

#fork .f-editforums-form .f-btns {
  display: flex;
  flex-direction: column;
}

#fork .f-editforums-form .f-btn[data-name=new],
#fork .f-editforum-form .f-btn[name=reset] {
  width: auto;
  margin-bottom: 0.625rem;
  margin-left: auto;
}

#fork .f-btn.f-disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}
/******************/
/* Админка/Группы */
/******************/
#fork .f-deletegroup-form .f-btn {
  width: auto;
  display: inline-block;
}

/*********************/
/* Админка/Цензура   */
/*********************/
#fork .f-fs-censor {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  /*min-width: 0;*/
}

#fork .f-fs-censor .f-child1 {
  font-weight: normal;
}

#fork .f-fs-censor .f-field-censor  {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#fork .f-fs-censor .f-field-censor > dt {
  display: none;
}

#fork .f-fs-censor .f-field-censor > dd {
  width: 100%;
}

#fork .f-field-censor:nth-child(-n+2) > dt {
  display: block;
  width: 100%;
}

/*************/
/* Установка */
/*************/
#fork .f-install {
  margin: 1rem 0;
}

#fork .f-install > h2{
  padding: 0 0.625rem;
}

/*********/
/* Поиск */
/*********/
#fork .f-search-form .f-child6:first-child {
  text-align: right;
  padding: 0 0.3125rem;
  margin-bottom: -0.3125rem;
}

#fork .f-post-search-info {
  display: none;
}

#fork .f-post-search .f-post-header > h3 {
  font-size: 0.875rem;
  font-weight: normal;
  display: inline-block;
  word-break: break-all;
}

#fork .f-psh-topic:before,
#fork .f-post-search .f-post-posted:before {
  font-family: "FontAwesomeFree";
  font-weight: 900;
  content: "\f105";
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
}

@media screen and (min-width: 50rem) {
  #fork #id-fs-what,
  #fork #id-fs-where,
  #fork #id-fs-how,
  #fork #id-fs-users {
    display: flex;
    flex-wrap: wrap;
  }

  #fork .f-field-w3 {
    width: 50%;
  }

  #fork .f-field-w4 {
    width: 33.33%;
  }

  #fork .f-search-form .f-label,
  #fork .f-userlist-form .f-label {
    padding: 0.5rem 0;
  }

  #fork .f-post-search-info {
    display: block;
    font-size: 0.875rem;
    padding-top: 0.625rem;
  /*  word-break: break-all; */
  }
}

/************************/
/* Список пользователей */
/************************/

#fork .f-ulist .f-row {
  border-bottom: 0.0625rem solid #AA7939;
}

#fork .f-ulist .f-row {
  padding: 0.625rem;
  overflow: hidden;
}

#fork .f-ulist .f-thead {
  display: none;
}

#fork .f-ulist .f-thead + .f-row {
  border-top: 0.125rem solid #AA7939;
}

@media screen and (min-width: 50rem) {
  #fork .f-ulist .f-row {
    padding: 0;
  }

  #fork .f-ulist .f-thead {
    border-top: 0.125rem solid #AA7939;
    border-bottom: 0.125rem solid #AA7939;
    display: block;
  }

  #fork .f-ulist .f-thead + .f-row {
    border-top: 0;
  }

  #fork .f-ulist .f-hcell,
  #fork .f-ulist .f-cell {
    display: table-cell;
    vertical-align: middle;
  }

  #fork .f-ulist .f-cell > small,
  #fork .f-ulist .f-hcell > small {
    display: none;
  }

  #fork .f-ulist .f-hcell .f-hc-table {
    display: table;
    line-height: 1;
  }

  #fork .f-hc-table .f-hc-tasc,
  #fork .f-hc-table .f-hc-tdesc {
    font-size: 0.75rem;
    display: block;
    text-align: center;
  }

  #fork .f-hc-table .f-hc-tname {
    padding: 0.125rem 0;
    display: block;
  }

  #fork .f-hc-tasc > a,
  #fork .f-hc-tdesc > a {
    padding: 0 0.25rem;
/*    border: 0; */
  }

  #fork .f-hc-tasc > a.active,
  #fork .f-hc-tdesc > a.active {
    border: 0.0625rem solid #814A00;
  }

  #fork .f-ulist .f-cell > b,
  #fork .f-ulist .f-cell > i {
    font-style: normal;
    font-weight: normal;
  }

  #fork .f-ulist .f-cusername {
    padding: 0.625rem 0 0.625rem 0.625rem;
    width: 50%;
  }

  #fork .f-ulist .f-ctitle {
    padding: 0.625rem 0 0.625rem 0.625rem;
    width: 50%;
    text-align: right;
  }

  #fork .f-ulist .f-cnumposts {
    padding: 0.625rem 0 0.625rem 0.625rem;
    width: 8rem;
    min-width: 8rem;
    text-align: center;
  }

  #fork .f-ulist .f-cnumposts .f-hc-table {
    margin: 0 auto;
  }

  #fork .f-ulist .f-cdatereg {
    padding: 0.625rem;
    width: 11rem;
    min-width: 11rem;
  }

  #fork .f-ulist .f-hcell {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
  }
}

/***********/
/* Профиль */
/***********/
#fork .f-fs-header {
  display: flex;
  /*min-width: 0;*/
  align-items: center;
}

#fork .f-field-pline .f-child1,
#fork .f-field-pline .f-str,
#fork .f-field-pline dt,
#fork .f-field-pline dd {
  display: inline;
  border: 0;
  padding: 0;
  margin: 0;
}

#fork .f-field-pline .f-child1:after {
  content: ": ";
}

#fork .f-fs-header .f-wrap-usertitle,
#fork .f-fs-data {
  display: flex;
  flex-direction: column;
  /*min-width: 0;*/
}

#fork .f-fs-header .f-wrap-usertitle {
  width: 100%;
}

#fork .f-fs-header .f-avatar-img {
  max-width: 4.6875rem;
  height: auto;
}

#fork .f-fs-header #id-dl-avatar {
  padding: 0.3125rem 0.3125rem 0.3125rem 0.625rem;
}

#fork .f-fs-header #id-dl-username {
  border-bottom: 0.0625rem solid #AA7939;
}

#fork .f-fs-header #id-username {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  display: block;
}

#fork .f-fs-header #id-title {
  font-size: 0.875rem;
  text-align: center;
  display: block;
}

#fork .f-fs-header .f-child1,
#fork .f-fs-header legend,
#fork .f-fs-data legend {
  display: none;
}

#fork .f-fs-header,
#fork .f-fs-data {
  border-bottom: 0.0625rem dotted #AA7939;
}

#fork #id-fs-note.f-fs-data {
/*   color: #D8000C; */
  background-color: #FFBABA;
}

@media screen and (min-width: 40rem) {
  #fork .f-fs-header .f-wrap-usertitle {
    order: 1;
    width: 67%;
    margin-left: auto;
  }

  #fork .f-fs-header #id-username {
    text-align: left;
  }

  #fork .f-fs-header #id-title {
    text-align: left;
  }

  #fork .f-fs-header #id-dl-username,
  #fork .f-fs-header #id-dl-title {
    padding-left: 0;
  }

  #fork .f-fs-header .f-avatar-img {
    max-width: 11.75rem;
  }

  #fork .f-fs-header #id-dl-avatar {
    width: 33%;
    text-align: right;
    padding: 0.3125rem 0.625rem 0.3125rem 0.3125rem;
  }

  #fork .f-fs-data dl {
    display: flex;
  }

  #fork .f-fs-data dt {
    width: 33%;
    text-align: right;
    padding-right: 0.625rem;
  }

  #fork .f-fs-data dd {
    width: 67%
  }

  #fork .f-field-pline .f-child1:after {
    content: "";
  }
}

#fork .f-fs-modforum {
  display: flex;
  align-items: stretch;
}

#fork .f-fs-modforum > dl {
  border-bottom: 0.0625rem dotted #AA7939;
  margin-bottom: 0.3125rem;
}

#fork .f-fs-modforum > legend,
#fork .f-field-modforum > dt {
  display: none;
}

#fork .f-fs-modforum .f-child2 > input {
  margin: 0;
}

#fork .f-fs-modforum .f-child1 {
  font-weight: normal;
}

#fork .f-field-modforum.f-field-moderator {
  width: 3rem;
  overflow: hidden;
  text-align: center;
}

#fork .f-field-modforum.f-field-name {
  width: calc(100% - 3rem);
}

/****************************/
/* Профиль - редактирование */
/****************************/

#fork .f-fs-header-edit dl,
#fork .f-fs-data-edit:not(#id-fs-activity) dl,
#fork #id-fs-activity.f-fs-data-edit {
  border-bottom: 0.0625rem dotted #AA7939;
}

#fork .f-fs-header-edit,
#fork .f-fs-data-edit {
/*  border-bottom: 0.0625rem solid #AA7939; */
  padding: 0.3125rem 0;
  margin-bottom: 0.3125rem;
}

#fork .f-fs-header-edit .f-avatar-img {
  max-width: 11.75rem;
  height: auto;
}

#fork .f-fs-data-edit legend {
  display: none;
}

#fork .f-fs-data-edit #id-signature {
  height: 11rem;
}

#fork .f-fs-data-edit #id-admin_note {
  background-color: #FFBABA;
}

#fork #id-dl-delete_avatar .f-child2 {
  font-size: 1rem;
}

@media screen and (min-width: 40rem) {
  #fork .f-fs-header-edit dl,
  #fork .f-fs-data-edit dl {
    display: flex;
  }

  #fork .f-fs-header-edit dt,
  #fork .f-fs-data-edit dt {
    width: 33%;
    text-align: right;
    padding-right: 0.625rem;
  }

  #fork .f-fs-header-edit dd,
  #fork .f-fs-data-edit dd {
    width: 67%
  }
}

/************************/
/* Админка/Пользователи */
/************************/
#fork .f-search-result-form .f-btns {
  text-align: right;
}

#fork .f-search-result-form .f-btns .f-btn,
#fork .f-delete-users-form .f-btns .f-btn,
#fork .f-change-group-form .f-btns .f-btn {
  display: inline-block;
  width: auto;
}

#fork .f-fs-result {
  display: flex;
  align-items: stretch;
  /*min-width: 0;*/
  border-bottom: 0.0625rem dotted #AA7939;
  margin-bottom: 0.3125rem;
  padding-bottom: 0.3125rem;
}

#fork .f-fs-stat {
  display: block;
}

#fork .f-fs-result:first-of-type,
#fork .f-fs-result .f-field-no-data {
  display: none;
}

#fork .f-fs-result > legend {
  display: none;
}

#fork .f-fs-result .f-child2 > input {
  margin: 0;
}

#fork .f-fs-result .f-field-result {
  border: 0;
  margin: 0;
}

#fork .f-wrap-main-result {
  width: calc(100% - 3rem);
}

#fork .f-fs-result .f-field-result > dt,
#fork .f-fs-result .f-field-result > dd,
#fork .f-fs-result .f-field-result .f-str {
  display: inline;
}

#fork .f-fs-result .f-field-result .f-child1 {
  display: inline;
  font-weight: bold;
}

#fork .f-fs-result .f-field-result .f-child1:after {
  content: ": ";
}

#fork .f-fs-result .f-field-check {
  border: 0;
  margin: 0;
  width: 3rem;
  overflow: hidden;
  text-align: center;
  border-left: 0.0625rem dotted #AA7939;
  display: flex;
  flex-direction: column;
}

#fork .f-fs-result .f-field-check > dt {
  display: none;
}

#fork .f-fs-result .f-field-check > dd {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%
}

#fork .f-fs-result .f-field-note > dd {
  color: #D8000C;
}

@media screen and (min-width: 36rem) {
  #fork .f-fs-result .f-field-result > dt,
  #fork .f-fs-result .f-field-result > dd {
    display: block;
  }

  #fork .f-fs-result .f-field-result .f-child1 {
    display: block;
    font-weight: normal;
  }

  #fork .f-fs-result .f-field-result .f-child1:after {
    content: "";
  }
}

@media screen and (min-width: 50rem) {
  #fork .f-fs-stat {
    display: flex;
  }

  #fork .f-wrap-main-result {
    display: flex;
  }

  #fork .f-fs-result .f-field-result,
  #fork .f-fs-result .f-wrap-user-result {
    display: flex;
    flex-direction: column;
    justify-content: space-around /**center*/;
  }

  #fork .f-fs-result .f-field-result > dt,
  #fork .f-fs-result:first-of-type .f-field-check > dt {
    display: block;
    margin: 0;
    width: 100%;
  }

  #fork .f-fs-result .f-field-result > dd {
    margin: 0;
    width: 100%;
  }

  #fork .f-fs-result:first-of-type {
    display: flex;
    text-align: center;
  }

  #fork .f-fs-result:not(:first-of-type) .f-field-result > dt,
  #fork .f-fs-result:first-of-type .f-field-result > dd {
    display: none;
  }

  #fork .f-fs-result .f-field-result .f-child1,
  #fork .f-fs-result .f-field-check .f-child1 {
    font-weight: bold;
  }

  #fork .f-fs-result .f-wrap-user-result {
    width: 33%;
  }

  #fork .f-fs-result .f-field-username {
    width: 100%;
  }

  #fork .f-fs-result .f-field-email {
    width: 100%;
  }

  #fork .f-fs-result .f-field-title {
    width: 16%;
    border-left: 0.0625rem dotted #AA7939;
  }

  #fork .f-fs-result .f-field-posts {
    width: 15%;
    border-left: 0.0625rem dotted #AA7939;
  }

  #fork .f-fs-result .f-field-posts > dd {
    text-align: right;
  }

  #fork .f-fs-result .f-field-note {
    width: 20%;
    border-left: 0.0625rem dotted #AA7939;
  }

  #fork .f-fs-result .f-field-view-ip {
    width: 16%;
    border-left: 0.0625rem dotted #AA7939;
  }

  #fork .f-fs-result .f-field-ip {
    width: 25%;
  }

  #fork .f-fs-result .f-field-last-used {
    width: 25%;
    border-left: 0.0625rem dotted #AA7939;
    text-align: center;
  }

  #fork .f-fs-result .f-field-used-times {
    width: 20%;
    border-left: 0.0625rem dotted #AA7939;
    text-align: center;
  }

  #fork .f-fs-result .f-field-action {
    width: 30%;
    border-left: 0.0625rem dotted #AA7939;
  }
}

/****************************************/
/* Админка/Баны от Админка/Пользователи */
/****************************************/
#fork .f-wrap-btns-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 3rem;
  border-left: 0.0625rem dotted #AA7939;
}

#fork .f-fs-result .f-wrap-btns-result dt {
  display: none;
}

#fork .f-fs-result .f-wrap-btns-result dd {
  width: 100%;
}

@media screen and (min-width: 50rem) {
  #fork .f-fs-result .f-field-ips {
    width: 19%;
    border-left: 0.0625rem dotted #AA7939;
  }

  #fork .f-fs-result .f-field-expire {
    width: 16%;
    border-left: 0.0625rem dotted #AA7939;
  }

  #fork .f-fs-result .f-field-message {
    width: 16%;
    border-left: 0.0625rem dotted #AA7939;
  }

  #fork .f-fs-result .f-field-creator {
    width: 16%;
    border-left: 0.0625rem dotted #AA7939;
  }

  #fork .f-wrap-btns-result .f-btn {
    padding-top: 0;
    padding-bottom: 0;
  }
}
