#fork .f-color0 {color: var(--c-fprimary)}

#fork .f-color1 {color: #FF00FF}
#fork .f-color2 {color: #800080}
#fork .f-color3 {color: #FF0000}
#fork .f-color4 {color: #800000}
#fork .f-color5 {color: #FFFF00}
#fork .f-color6 {color: #808000}
#fork .f-color7 {color: #00FF00}
#fork .f-color8 {color: #008000}
#fork .f-color9 {color: #00FFFF}
#fork .f-color10 {color: #008080}
#fork .f-color11 {color: #0000FF}
#fork .f-color12 {color: #000080}

#fork .f-color13 {color: #e8b6ef}
#fork .f-color14 {color: #F551FF}
#fork .f-color15 {color: #CF2BE7}
#fork .f-color16 {color: #B10DC9}
#fork .f-color17 {color: #9A00B2}
#fork .f-color18 {color: #9A00B2}

#fork .f-color19 {color: #fbb8ec}
#fork .f-color20 {color: #FF56FF}
#fork .f-color21 {color: #FF30DC}
#fork .f-color22 {color: #F012BE}
#fork .f-color23 {color: #D900A7}
#fork .f-color24 {color: #B20080}

#fork .f-color25 {color: #ffc6c3}
#fork .f-color26 {color: #FF857A}
#fork .f-color27 {color: #FF5F54}
#fork .f-color28 {color: #FF4136}
#fork .f-color29 {color: #E82A1F}
#fork .f-color30 {color: #C10300}

#fork .f-color31 {color: #ffdbbb}
#fork .f-color32 {color: #FFC95F}
#fork .f-color33 {color: #FFA339}
#fork .f-color34 {color: #FF851B}
#fork .f-color35 {color: #E86E04}
#fork .f-color36 {color: #C14700}

#fork .f-color37 {color: #fff5b3}
#fork .f-color38 {color: #FFFF44}
#fork .f-color39 {color: #FFFA1E}
#fork .f-color40 {color: #FFDC00}
#fork .f-color41 {color: #E8C500}
#fork .f-color42 {color: #C19E00}

#fork .f-color43 {color: #c0f0c6}
#fork .f-color44 {color: #72FF84}
#fork .f-color45 {color: #4CEA5E}
#fork .f-color46 {color: #2ECC40}
#fork .f-color47 {color: #17B529}
#fork .f-color48 {color: #008E02}

#fork .f-color49 {color: #d9f4ff}
#fork .f-color50 {color: #C3FFFF}
#fork .f-color51 {color: #9DF9FF}
#fork .f-color52 {color: #7FDBFF}
#fork .f-color53 {color: #68C4E8}
#fork .f-color54 {color: #419DC1}

#fork .f-color55 {color: #b3d5f4}
#fork .f-color56 {color: #44B8FF}
#fork .f-color57 {color: #1E92F7}
#fork .f-color58 {color: #0074D9}
#fork .f-color59 {color: #005DC2}
#fork .f-color60 {color: #00369B}

#fork .f-color61 {color: #ffffff}
#fork .f-color62 {color: #eeeeee}
#fork .f-color63 {color: #cccccc}
#fork .f-color64 {color: #aaaaaa}
#fork .f-color65 {color: #888888}
#fork .f-color66 {color: #666666}
#fork .f-color67 {color: #444444}
#fork .f-color68 {color: #000000}
